.App {

  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table{
  background-color: black;
  height: 400px;
  width: 80%;
  border-radius: 10px;
  flex-direction: row;
}

.startButton{
  background-color: maroon;
  color: white;
  align-self: center;
  padding: 8px;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  transition-duration: 0.4s;

  }
  .startButton:hover{
    background-color: black;
    color:white;
  }
 

.titles{
  font-size: small;
  height: 25px;
  vertical-align: baseline;
  background-color: gray;
  color: maroon;

}
.data{
  font-size:small;
 vertical-align: baseline;

}
.detector{
  font-size: 70px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}